/* mobile device responsive */
@media screen and (max-width: 676px) {
    .nav-part, .item-container{
        flex-direction: column;
        margin-left: 50px;
        gap: 20px;
    }
}

/* tablet device responsive */
@media screen and (max-width: 976px) {
    .nav-part, .item-container, .nav-container{
        flex-direction: column;
        align-items: center;
        margin-left: 0 ,30px;
        gap: 20px;
    }
}